label {
  color: #267DFD;
}
.submit-btn {
  width: 130px;
  background-color: #267DFD;
  color: white;
  border: none;
}

.btn-default:hover {
    color: #267DFD;
    background-color: #F9E9F5;
    border: 1px solid #267DFD;
}

.contact-intro p {
  text-align: center;
}
