/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 html,
 body {
     height: 100%;
     font-family: 'Open-sans', sans-serif;
 }

 body {
     padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
 }

 .img-portfolio {
     margin-bottom: 30px;
 }

 .img-hover:hover {
     opacity: 0.8;
 }

 p {
   font-weight: 100;
 }

 /* Landing Picutre Styles */

.welcome-banner {
  background-image: url('welcome.png');
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
}

.content p {
  text-align: justify;
}

.punchline h4 {
  text-align: center;
  color: #2A9EF9;
  border-bottom: none;
}
 /* Responsive Styles */

 @media(max-width:991px) {
     .customer-img,
     .img-related {
         margin-bottom: 30px;
     }
 }

 @media(max-width:767px) {
     .img-portfolio {
         margin-bottom: 15px;
     }

     header.carousel .carousel {
         height: 70%;
     }
 }
