.product-text {
  padding-top: 20px;
}

.nav-tabs a {
  color: #2A9EF9;
  text-decoration: none;
}

#service-one h4 {
  margin-top: 25px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #050060;
}

.fa-stack-2x {
  color: #2A9EF9;
}
