<!-- Landing Image Section -->
<div class='welcome-banner'>
</div>


<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="page-header punchline">
        Hadley Innovation is a scientific company specialized in weather insurance design. Our vision is to leverage the index market and to allow the 50 million smallholders farmers in sub-Saharan Africa to benefit from a cheap, transparent and tailor-made insurance product.
      </h4>
    </div>
  </div>
  <!-- Features Section -->
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Context</h2>
      </div>
      <div class="col-md-6 content">
        <p>
          Most farmers in developing countries practice rain-fed agriculture. Not enough rain means plants don’t produce a harvest while too much rain can kill growing crops. To mitigate heavy rainfall or drought spell risks, weather insurance represents a cheap and transparent risk management solution, mostly intended to insure smallholders’ farmers against natural hazards, water-related perils, crops failure and climate risk.
          Yet, the poor rain gauge network and the short historical time series across sub-Saharan Africa prevent a proper risk assessment and an accurate insurance design. If the spatial and temporal variability of rainfall is not accurately estimated, only areas covered by a dense rain gauge network with long histories can benefit from insurance coverage.
        </p>
      </div>
      <div class="col-md-6">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
      </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Solution</h2>
      </div>
      <div class="col-md-6">
        <img class="img-responsive" src="http://placehold.it/700x450" alt="">
      </div>
      <div class="col-md-6 content">
        <p>
          Hadley Innovation proposes to overcome the challenge of missing information by simulating realistic rainfall data far from rain gauge stations. The simulator is inspired from state-of-the-art in geostatistics, peer-reviewed publications and uses acknowledged methods, classification tools and Markov chain model to resolve spatial and temporal rainfall variability.
        </p>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Product</h2>
      </div>
      <div class="col-md-6 content">
        <p>
          The rainfall model Hadley Innovation is developing represents one-third of what needs to be achieved to design and price properly a weather index. Cross disciplinary collaborations from different disciplines - geostatistics, climatology, agronomy and finance - are thus required to end-up with a whole product with strong value for smallholders’ farmers. To join us and contribute in developing weather insurance solutions,
             <%= link_to "click here", about_path %>.
        </p>
      </div>
      <div class="col-md-6">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
      </div>
  </div>
  <!-- /.row -->
</div>
