<!-- Landing Image Section -->
<div class='welcome-banner'>
</div>


<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 punchline">
      <p class="page-header">
        Hadley Innovation is a scientific company specialized in weather insurance design. Our vision is to leverage the index market and to allow the 50 million smallholders farmers in sub-Saharan Africa to benefit from a cheap, transparent and tailor-made insurance product.
      </p>
    </div>
  </div>
  <!-- Features Section -->
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Context</h2>
      </div>
      <div class="col-md-6 content">
        <p>Most farmers in sub-Saharan Africa practice rain-fed agriculture. Not enough rain means plants don’t produce a harvest while too much rain can kill
          growing crops. To mitigate adverse effects of heavy rainfall or drought on crop yield, weather index insurance is an innovative risk management solution,
          mostly intended to insure smallholders’ farmers against climate risk. The weather index insurance is based on an event’s probability to trigger a payout
          from independent meteorological data, which both farmer and insurer have access to
        </p>
        <p>Yet, the poor rain gauge network in sub-Saharan Africa prevents a proper risk assessment and an accurate insurance design. If the spatial and temporal
          variability of rainfall is not accurately estimated, only areas covered by a dense rain gauge network with long histories can benefit from insurance
          coverage.
        </p>
      </div>
      <div class="col-md-6">
          <img class="img-responsive" src="https://cdn.pixabay.com/photo/2016/10/23/18/30/landscape-1763948_960_720.jpg" alt="context">
      </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Solution</h2>
      </div>
      <div class="col-md-6">
        <img class="img-responsive" src="http://placehold.it/700x450" alt="">
      </div>
      <div class="col-md-6 content">
        <p>Hadley Innovation proposes to overcome the challenge of missing information by simulating realistic rainfall data, away from gauge stations. Known as    <em>stochastic modeling of space-time rainfall field, </em>our simulator accounts for the spatial and temporal variability of rainfall distribution. The
          model is inspired from state-of-the-art in geostatistics
        </p>
        <p>From ground observations measurements, statistical analysis of rainfall distribution is first achieved to infer input parameters in our rainfall simulator.
          In output, relevant information is generated at locations with no previous measurements, or where only short data series are available. Synthetic rainfall
          data intend to improve weather index design and to lower premiums, making insurance more affordable.
        </p>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Vision</h2>
      </div>
      <div class="col-md-6 content">
        <p>Hadley Innovation’s vision is to allow the 50 million smallholders farmers across sub-Saharan Africa to benefit from cheap, transparent and tailor-made
          insurance coverage against adverse climate risk. The rainfall model Hadley Innovation is developing represents a small part of what needs to be achieved to
          properly design and price a weather index. Cross disciplinary collaborations from different disciplines - geostatistics, climatology, agronomy and finance
          - are thus required to end-up with a whole product with strong value for smallholders’ farmers. To join us and contribute in developing an innovative
          insurance product, click here.
        </p>
      </div>
      <div class="col-md-6">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
      </div>
  </div>
  <!-- /.row -->
</div>
