<!-- Page Content -->
  <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <div class="row">
          <div class="col-lg-12">
          </div>
      </div>
      <!-- /.row -->

      <!-- Service Panels -->
      <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
      <div class="row">
          <div class="col-lg-12">
              <h2 class="page-header">Challenges</h2>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="panel panel-default text-center">
                  <div class="panel-heading">
                      <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                      </span>
                  </div>
                  <div class="panel-body">
                      <h4>Service One</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="panel panel-default text-center">
                  <div class="panel-heading">
                      <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-tint fa-stack-1x fa-inverse"></i>
                      </span>
                  </div>
                  <div class="panel-body">
                      <h4>Service Two</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="panel panel-default text-center">
                  <div class="panel-heading">
                      <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                      </span>
                  </div>
                  <div class="panel-body">
                      <h4>Service Three</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
              </div>
          </div>
      </div>

      <!-- Service Tabs -->
      <div class="row">
          <div class="col-lg-12">
              <h2 class="page-header">Goals of each</h2>
          </div>
          <div class="col-lg-12">

              <ul id="myTab" class="nav nav-tabs nav-justified">
                  <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-search"></i> Weather Insurance Analysis</a>
                  </li>
                  <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-tint"></i> Product description</a>
                  </li>
                  <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-support"></i> Road Map</a>
                  </li>
              </ul>

              <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="service-one">
                      <!-- <h4>Service One</h4> -->
                      <p class="product-text">A proper risk assessment is a precondition for a proper design of an insurance solution. But not every region benefit from the same products and services
                        access. This situation partly lies in the poor distribution of hydrometeorological stations for developing countries. Whether to set insurance pricing or
                        to develop a market, the lack of hydrometeorological data prevents accurate risk assessment which in turns hampers economic growth in emerging markets that
                        need financial protections most. For example, many local institutional banks are unlikely to lend to non-insured farmers, since the latter represent
                        neither a profitable nor a sustainable solution. Building an insurance market can thus encourage lending, since insured farmers are more creditworthy than
                        non-insured.</p>

                      <h4>What is weather insurance
                      </h4>
                      <p class="product-text">To increase insurance coverage and access to bank credit across developing economies, weather index insurance allows weather-related risks such as heavy
                        rainfall or drought to be insured. Where traditional insurance isn’t appropriate, index insurance provides developing countries a cheap and transparent
                        risk management tool mostly intended to insure smallholders’ farmers against climate risk.
                      </p>

                      <h4>Why it is attractive
                      </h4>
                      <p class="product-text"> Weather index insurance is a promising risk transfer solution for the 450 million smallholder farms worldwide, with the potential to reduce food insecurity
                        in Ethiopia, change planting behaviors and increase cash investments in Ghana and India or increase farmers’ access to financing solutions in Uganda. As a
                        microinsurance product, the weather index insurance must be highly cost effective, straightforward to transact, sustainable and valuable for client and at
                        low premium. An index insurance does not cover all losses but tends to minimize one element of the rainfall risk. On the one hand, this characteristic
                        enables to meet index constraints and to design simple and affordable contracts, as opposed with traditional insurance which are more expensive and
                        inappropriate to support poor farmers in developing countries. On the other hand, insuring a limited number of risks involves effective and transparent
                        communication strategy, at the risk of misleading the farmer about the true nature of the insured losses.
                      </p>

                      <h4>How it works
                      </h4>
                      <p class="product-text">The weather insurance is based on an event’s probability to trigger a payout from independent meteorological data, which both farmer and insurer have
                        access to. Index insurance design is more climate driven than crop vulnerability driven, so payout and price are essentially functions of rainfall amount.
                        Instead of conducting costly and time consuming <em>on-field</em> surveys, index insurance design consists in estimating the most important water stress
                        mechanisms at stake for a community of farmers in the region surrounding a weather station, rather than identifying a yield level or a crop vulnerability
                        level for a single farmer.
                      </p>
                      <p class="product-text">A weather index insurance design consists in :
                        <ul>
                          <li>
                            Identifying a reference station
                          </li>
                          <li>
                            Defining a <strong>trigger</strong><em> </em>to start the contract’s pay out (e.g., cumulative mm of rainfall)
                          </li>
                          <li>
                            Setting an <strong>incremental</strong><em> </em>payment (e.g., $1 per mm of rainfall above or below the trigger)
                          </li>
                          <li>
                            Setting a <strong>limit</strong><em> </em>at which a maximum payment is made
                          </li>
                          <li>
                            Defining phases of insurance in the contract (e.g., growth, flowering, maturity) with each phase corresponding to a single trigger, increment and limit.
                          </li>
                        </ul>
                      </p>

                  <h4>Where and when to use weather insurance
                  </h4>
                  <p class="product-text">Implementing weather index insurance requires a holistic approach in accordance with the Sendai 2015-2030 disaster risk management’s framework. This
                    insurance product cannot be used in any context and a pre-analysis must be conducted prior to its implementation: assessing whether a weather index
                    insurance is appropriate to a given situation, developing a use-case and eventually scaling-up with the support of international organisation and/or
                    donors.
                  </p>
                  <p class="product-text">Using a weather index insurance is very appropriate in non-mountainous regions where weather and crop yield are strongly related, which explains why most
                    index insurance have focused on the drought risk until now. Indeed, drought (i.e., rainfall deficit) is a large-scale and long duration event which makes
                    easier contract’s design compared with extreme rainfall which are very localized and short duration events (lowering the probability for a rain gauge
                    station to record a measurement).
                  </p>
                  <p class="product-text">Thus, insurers in developing countries tend to favor index insurance as it tends to minimize moral hazard (i.e., farmers behaving imprudently) while
                    maximizing the transparency of the transaction, compared with indemnity-based insurance which rely on physical losses and insurance claim assessors.
                    However, among limitations tied to WII, minimizing basis-risk (i.e., the difference between estimated and actual loss)<strong> </strong>is a core challenge
                    inherent to index design, that realistic rainfall simulation from Hadley Innovation supports to overcome.
                  </p>

                  <h4>Limitations and challenges
                  </h4>
                  <p class="product-text">To compensate the lack of data while minimizing basis risk in index design, insurance can rely on geostatistical methods to simulate daily rainfall
                    time-series at local sites. Indeed, as the price of the insurance must cover the payouts, the price is driven by the probability of a payout which itself
                    is driven by the probability of the rainfall deficits relevant to major crop losses. The deficits are estimated from historical and/or synthetic data, to
                    find out how often one expects a payout to occur. But when comprehensive rainfall and crop data are missing, index design, pricing and validation are
                    hampered, in turn reducing smallholders’ farmers’ ability to get insurance coverage.
                  </p>

                  <p class="product-text">To date, agricultural insurance as a sustainable risk management solution - of which index insurance belongs to - has been limited to pilot projects
                    conducted under the umbrella of international programs. Albeit pilot studies suggest that agricultural insurance product have an impact on farmers’
                    behavior, it appears that index insurance market remains thin and even where available, demand is still relatively low. The low demand added to current
                    limitations in the index insurance market penetration are to relate with high transaction costs, lack of trust in insurance providers, limited levels of
                    consumer education and lack of understanding about the true risks covered by the weather insurance policy. Eventually, in many emerging markets, insurance
                    is still seen as a luxury good, with lower priority than food or shelter.
                  </p>
                  <p class="product-text">The index insurance is technically feasible, but is still new and has being applied through pilot projects only. Some operational hurdles need to be
                    overcome to reach sustainability and scalability of such pilot projects. Nevertheless, there is a potential index insurance market to be explored and
                    developed, especially in view of the climate change issues. Sub-Saharan African countries present a great potential of application of this solution given
                    that their economies are mostly dependent on the agricultural sector and because of food security issues.
                  </p>
                  </div>
                  <div class="tab-pane fade" id="service-two">
                      <!-- <h4>Service Two</h4> -->
                      <p class="product-text">Unlike measurements of pressure or temperature fields, measuring precipitation is challenging due to its highly dynamic, heterogeneous spatial distribution
                        and stochastic nature. To that extent, a broad range of rain rates can be observed within a 1 to 3 hours long event at a single location. In addition,
                        precipitation is strongly influenced by large-scale patterns of natural variability. The most recent Fifth Assessment report released in 2014 by the
                        Intergovernmental Panel on Climate Change (IPCC) indicates that climate change’s impact on global precipitation changes is still not evident, but already
                        had an adverse impact on heavy precipitation events. As a result, a better understanding of rainfall dynamics in response to climate change is essential.
                      </p>
                      <p class="product-text">To estimate rainfall intensity (generally expressed in mm per unity of time), two types of sources are available: rain gauges or remote-based instruments
                        (satellite, radar). But in many developing countries, the rain gauge network is too sparse to capture temporal and spatial variability of rainfall
                        distribution, and is insufficient to estimate future monetary losses. In addition, most gauges are in towns and cities, not agricultural areas which render
                        them ineffective for larger scale index insurance projects. Different solutions exist to recreate time-series at local positions. Of which, advanced
                        geostatistical methods have been developed to simulate synthetic rainfall data instead of using gridding methods such as interpolation and kriging from stations.
                      </p>
                      <p>
                        Known as weather generators, these geostatistical models allow to generate synthetic time series of atmospheric variables at local sites. Many weather
                        generators were developed along the past fifty years, and comparing each one to another is a difficult if not impossible task. When the variable to
                        simulate is rain, <em>stochastic modeling of space-time rainfall field</em> generators can account for spatial rainfall distribution and temporal climate
                        variability. In other words, they allow to simulate both multiple spatial rainfall distributions for a given rainfall (spatial variability) and multiple
                        distributions of rainfall intensities in time (temporal variability). Stochastic generators are useful throughout many applications to better understand
                        rainfall probabilistic structure, as input to feed hydrologic and process-based crop models, as a statistical downscaling method in Global Climate Models
                        or Regional Climate Models and to estimate radars measurement uncertainty.
                      </p>
                      <p>
                        In this context, Hadley Innovation is developing a stochastic generator to simulate realistic rainfall fields with spatial and temporal variability. From
                        ground observations data, statistical analysis of rainfall distribution is first achieved to infer parameters in the rainfall simulator. In output,
                        relevant information is generated at sites with no previous measurements, or where only short data series are available. These data are intended to improve
                        weather index insurance design and to act as an innovative insurance product addressing developing countries challenges.
                      </p>
                  </div>
                  <div class="tab-pane fade" id="service-three">
                      <!-- <h4>Service Three</h4> -->
                      <p class="product-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.</p>
                      <p class="product-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.</p>
                      <p class="product-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.</p>
                      <p class="product-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.</p>

                  </div>
              </div>

          </div>
      </div>

      <!-- Service List -->
      <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
      <div class="row">
          <div class="col-lg-12">
            <h2 class="page-header">Vision</h2>
          </div>
          <div class="col-lg-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.
            </p>
          </div>
      </div>
      <!-- /.row -->
  </div>
