<div class="contact-form">
  <div class="container">
    <div class="message-panel text-center">
      <div class"message">
        <h3>
          Message sent :)
        </h3>
        <p>We will take the time to read and answer your message as soon as possible !</p>
        <p>Kind regards,</p>
        <p>Hadley Innovation Team</p>
        </p>
    </div>
    </div>
  </div>
</div>
